.filters-wrapper {
  #filters {
    select,
    input {
      border: none;
      outline: none;
      cursor: pointer;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 0.25px;
      font-size: $text_small;
      padding: $padding_small;
    }

    @media (max-width: 991.98px) {
      #industry-filter,
      #search-input {
        flex: 0 0 100%;
      }

      #country-filter,
      #sort-filter {
        flex: 0 0 calc(50% - 5px);
      }

      flex-wrap: wrap;
      flex-direction: unset;
      font-size: 14px;
      margin-bottom: 20px;
    }

    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 50px;
  }

  .filters-header,
  .charts-header {
    p {
      margin-bottom: 0;
    }

    font-size: $text_regular;

    &.statistical-charts {
      p {
        padding-left: $padding_medium*2;
      }

      &:before {
        content: "\f201";
        position: absolute;
        top: 5px;
        width: 20px;
        font-size: 14px;
        font-weight: 900;
        font-family: $font-awesome;
      }

      position: relative;
    }

    &.company-data {
      p {
        padding-left: $padding_medium*2;
      }

      &:before {
        content: "\f0db";
        position: absolute;
        top: 5px;
        width: 20px;
        font-size: 14px;
        font-weight: 900;
        font-family: $font-awesome;
      }

       position: relative;
    }

    &.filters {
      p {
        padding-left: $padding_medium*2;
      }
      
      &:before {
        content: "\f885";
        position: absolute;
        top: 5px;
        width: 20px;
        font-size: 14px;
        font-weight: 900;
        font-family: $font-awesome;
      }

      position: relative;
    }

    &.sub-header {
      background: $color-light-blue;
      color: black;
      font-weight: 700;
      font-size: $text_small;
      padding: $padding_small;
    }

    &.sticky-header {
      position: sticky;
      top: 0;
      border-top: 15px solid #f9fafb;

      @media (max-width: 991.98px) {
        top: 170px;
      }
    }

    background: $color-indigo;
    color: $color-white;
    padding: $padding_small $padding_medium;
    margin-bottom: 10px;
  }

  &.sticky-filters {
    position: sticky;
    top: 15px;

    @media (max-width: 991.98px) {
      position: fixed;
      top: 0;
      z-index: 1;
      padding-top: 15px;
      background: $color-light-grey;
    }
  }

  @media (max-width: 991.98px) {
    position: relative;
    top: 170px;
    margin-bottom: 10px;

    #loadMoreBtn[style*="display: block"] {
        margin-bottom: -10px;
    }
  }

  max-height: fit-content;
}
